<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-scope.css}">

</head>
<body>
<main>
    <div th:insert="~{/fragments/common_fragments :: mainHeader}"></div>
    <div class="admin-panel">
        <h1 class="titlePage">All users</h1>
        <div class="intro-text">
            Found [[${allSales.size()}]] sales.
        </div>
    </div>
    <section class="sales-section">
        <h1>List of sales: </h1>
        <ul th:if="${allSales != null and !#lists.isEmpty(allSales)}">
            <li th:each="sale : ${allSales}">
                Customer: [[${sale.user.firstName}]] [[${sale.user.lastName}]] -  Purchase: [[${sale.product.name}]], Quantity: [[${sale.quantity}]]
            </li>
        </ul>
        <p th:if="${allSales == null or #lists.isEmpty(allSales)}">No sales yet.</p>
    </section>
</main>
<div th:insert="~{/fragments/common_fragments :: mainFooter}"></div>
</body>
</html>
