<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-scope.css}">

</head>

<body>
<main>
    <div th:insert="~{/fragments/common_fragments :: mainHeader}"></div>
    <div class="admin-panel">
        <h1 class="titlePage">All users</h1>
        <div class="intro-text">
            Found [[${allUsers.size()}]] users.
        </div>
    </div>

    <section class="users-section">
        <div class="bootstrap-scope">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Postal code</th>
                    <th>Role</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${allUsers}">
                    <td>[[${user.id}]]</td>
                    <td th:text="${user.fullName}"/>
                    <td th:text="${user.email}"/>
                    <td th:text="${user.phone}"/>
                    <td th:text="${user.city}"/>
                    <td th:text="${user.address}"/>
                    <td th:text="${user.postalCode}"/>
                    <td th:text="${user.role}"/>
                    <td class="actions">
                        <a th:href='${"/user/"+user.id}'>View</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </section>
</main>
<div th:replace="/fragments/common_fragments :: mainFooter"></div>
</body>
</html>
