<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">

</head>
<body>
<main>
    <div th:insert="~{/fragments/common_fragments :: mainHeader}"></div>
    <div class="user-container">
        <div class="user-info">
            <h1>[[${user.fullName}]] #[[${user.id}]]</h1>
            <ul>
                <li>Id: [[${user.id}]]</li>
                <li>Name: [[${user.fullName}]]</li>
                <li>Email: [[${user.email}]]</li>
                <li>Phone: [[${user.phone}]]</li>
                <li>City: [[${user.city}]]</li>
                <li>Address: [[${user.address}]]</li>
                <li>Postal code: [[${user.postalCode}]]</li>
                <li>Role: [[${user.role}]]</li>
                <li>Sales:
                    <span th:if="${user.sales == null or #lists.isEmpty(user.sales)}">
        No sales yet
    </span>
                    <ul th:if="${user.sales != null and !#lists.isEmpty(user.sales)}">
                        <li th:each="sale : ${user.sales}">
                            Product: [[${sale.product.name}]], Quantity: [[${sale.quantity}]]
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</main>
<div th:insert="~{/fragments/common_fragments :: mainFooter}"></div>
</body>
</html>