<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/add-product.css}">
</head>

<body>
<main>
    <div th:insert="~{/fragments/common_fragments :: mainHeader}"></div>
    <form action="" th:action="@{/product/add}" method="post" enctype="multipart/form-data">
        <div class="form-container">
            <div class="form-group">
                <div class="form-field">
                    <label for="add-name">Name:</label>
                    <input name="name" id="add-name" class="form-control" type="text"
                           th:value="${product.name}"/>
                </div>

                <div class="form-field">
                    <label for="add-description">Description:</label>
                    <input name="description" id="add-description" class="form-control" type="text"
                           th:value="${product.description}"/>
                </div>

                <div class="form-field">
                    <label for="add-category">Category:</label>
                    <select name="category" id="add-category" class="form-control">
                        <option value="bouquet">bouquet</option>
                        <option value="plant">plant</option>
                        <option value="gift">gift</option>
                    </select>
                </div>

                <div class="form-field">
                    <label for="add-price">Price:</label>
                    <input name="price" id="add-price" class="form-control" type="number" min="0"
                           th:value="${product.price}"/>
                </div>

                <div class="form-field">
                    <label for="add-barcode">Barcode:</label>
                    <input name="barcode" id="add-barcode" class="form-control" type="text"
                           th:value="${product.barcode}"/>
                </div>

                <div class="form-field">
                    <label for="add-quantity">Quantity:</label>
                    <input name="quantity" id="add-quantity" class="form-control" type="number" min="0"
                           th:value="${product.quantity}"/>
                </div>

                <div class="form-field">
                    <label>Availability:</label>
                    <div class="checkbox-group">
                        <input name="availability" id="add-availability" type="checkbox" value="true"/>
                        <label for="add-availability">Available</label>
                        <input type="hidden" name="availability" value="false"/>
                    </div>
                </div>

                <div class="form-field">
                    <label for="edit-image">Image:</label>
                    <input name="image" id="edit-image" class="form-control" type="file"/>
                </div>
            </div>

            <button type="submit" class="save">Add Product</button>
        </div>
    </form>
</main>
<div th:insert="~{/fragments/common_fragments :: mainFooter}"></div>
</body>
</html>