<!DOCTYPE html>
<html>
<div th:insert="~{/fragments/common_fragments :: head}"></div>
<body>

<main>
    <div th:insert="~{/fragments/common_fragments :: mainHeader}"></div>

    <form th:action="@{/product/add}" method="post" enctype="multipart/form-data">
        <div class="container form-container my-3" style="max-width: 600px">
            <h3 class="fw-bold p-3 text-md-center">Add new product</h3>
            <div class="row form-group">

                <div class="col-12 mb-3 form-field">
                    <label for="add-name" class="form-label">Name:</label>
                    <input name="name" id="add-name" class="form-control" type="text"
                           th:value="${product.name}">
                </div>

                <div class="col-12 mb-3 form-field">
                    <label for="add-description" class="form-label">Description:</label>
                    <input name="description" id="add-description" class="form-control" type="text"
                           th:value="${product.description}">
                </div>

                <div class="col-12 mb-3 form-field">
                    <label for="add-category" class="form-label">Category:</label>
                    <select name="category" id="add-category" class="form-select">
                        <option value="bouquet">bouquet</option>
                        <option value="plant">plant</option>
                        <option value="gift">gift</option>
                    </select>
                </div>

                <div class="col-12 mb-3 form-field">
                    <label for="add-price" class="form-label">Price:</label>
                    <input name="price" id="add-price" class="form-control" type="number" min="0"
                           th:value="${product.price}">
                </div>

                <div class="col-12 mb-3 form-field">
                    <label for="add-barcode" class="form-label">Barcode:</label>
                    <input name="barcode" id="add-barcode" class="form-control" type="text"
                           th:value="${product.barcode}">
                </div>

                <div class="col-12 mb-3 form-field">
                    <label for="add-quantity" class="form-label">Quantity:</label>
                    <input name="quantity" id="add-quantity" class="form-control" type="number" min="0"
                           th:value="${product.quantity}">
                </div>

                <div class="col-12 mb-3 form-field">
                    <label class="form-label d-block">Availability:</label>
                    <div class="form-check form-check-inline">
                        <input type="hidden" name="availability" value="false">
                        <input name="availability" id="add-availability" type="checkbox" value="true"
                               class="form-check-input">
                        <label for="add-availability" class="form-check-label">Available</label>
                    </div>
                </div>

                <div class="col-12 mb-3 form-field">
                    <label for="edit-image" class="form-label">Image:</label>
                    <input name="image" id="edit-image" class="form-control" type="file">
                </div>

            </div>

            <button type="submit" class="btn-send">Add Product</button>
        </div>
    </form>

</main>
<div th:insert="~{/fragments/common_fragments :: mainFooter}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
