<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bouquets</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>
<body>
<main>
    <div th:insert="~{/fragments/common_fragments :: mainHeader}"></div>
    <div id="cartNotification" class="cart-notification">
    Product added to cart!
</div>
    <div class="intro">
        <h1 class="titlePage">Bouquets</h1>
        <div class="intro-text">
            Made with passion in our atelier, our fresh flower bouquets are crafted with expertise derived from the
            century-old “Lachaume Techniques”. Each creation is meticulously designed as an immersion into our floral
            universe. Timeless, elegant and refined style that reflects our heritage.
            From stunning chrysanthemum and roses to vibrant seasonal bouquets, our range of beautiful blooms are
            perfect for brightening the home and celebrating life’s special moments. Whatever the occasion, say it with
            flowers, all with free nominated day delivery. Discover our wide selection of gorgeous bouquets today.
        </div>
    </div>

    <section class="bouquets-section">
        <div class="product-form">
            <div class="product-card"  th:each="product : ${allProducts}"
                 th:if="${product.category != null and product.category.toString().equals('bouquet')}">
                <a th:href="@{'/product/info/' + ${product.id}}" style="text-decoration: none; color: inherit;">
                <div class="img">
                <img th:src="@{${product.image}}" alt="image">
            </div>
            <div class="price">
                <div th:text="${product.name}"></div>
                <div th:text="${product.price+' $'}"></div>
            </div>
                </a>

                <button type="button" class="btn btn-primary add-to-cart-btn"
                        th:data-product-id="${product.id}"
                        th:data-product-name="${product.name}"
                        th:data-product-price="${product.price}">
                    ADD TO CART
                </button>
            </div>
        </div>
    </section>
    <script src="/js/cart.js"></script>
</main>
<div th:insert="~{/fragments/common_fragments :: mainFooter}"></div>

</body>
</html>
