<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bouquets</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>
<header>
    <div class="top-bar">
        <div class="delivery">Home delivery available in Romania | Free returns</div>
        <div class="user">
               <span th:if="${isAuthenticated == true and fullName != null}">
                Welcome, <span th:text="${fullName}"></span>!
                <a th:href="@{/auth/logout}" class="logout-link">Logout</a>
            </span>
            <span th:if="${isAuthenticated == false or isAuthenticated == null}">
                <a th:href="@{/auth/login}">Log in</a> |
                <a th:href="@{/auth/register}">Register</a>
            </span>
        </div>
    </div>
    <div class="logo">Peony Bloom</div>
</header>

<main>
    <nav>
        <div class="category">
            <a th:href="@{/home}">About us</a>
        </div>
        <div class="category">
            <a th:href="@{/bouquets}">Bouquets</a>
        </div>
        <div class="category">
            <a th:href="@{/main/plants}">Plants</a>
        </div>
        <div class="category">
            <a th:href="@{/main/gifts}">Gifts</a>
        </div>
        <div class="category">
            <a th:href="@{/main/contact}">Contact</a>
        </div>
    </nav>

    <div class="intro">
        <h1 class="titlePage">Bouquets</h1>
        <div class="intro-text">
            Made with passion in our atelier, our fresh flower bouquets are crafted with expertise derived from the
            century-old “Lachaume Techniques”. Each creation is meticulously designed as an immersion into our floral
            universe. Timeless, elegant and refined style that reflects our heritage.
            From stunning chrysanthemum and roses to vibrant seasonal bouquets, our range of beautiful blooms are
            perfect for brightening the home and celebrating life’s special moments. Whatever the occasion, say it with
            flowers, all with free nominated day delivery. Discover our wide selection of gorgeous bouquets today.
        </div>
    </div>

    <section class="products-section">
        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/3.jpg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>White Avalanche</h3>
                <h3>28$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>

        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/1.jpg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>Lily Bouquet</h3>
                <h3>35$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>

        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/2.jpg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>Rose & Eucalyptus</h3>
                <h3>45$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>

        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/4.jpg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>7 white peonies</h3>
                <h3>50$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>
    </section>

    <section class="products-section">
        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/5.jpg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>9 pink peonies</h3>
                <h3>50$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>

        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/6.jpeg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>Bubble gum</h3>
                <h3>45$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>

        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/7.jpeg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>Silvia peonies</h3>
                <h3>55$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>

        <div class="product-form">
            <div class="img">
                <img th:src="@{/innerFolder/bouquets/8.jpeg}" alt="Bouquets">
            </div>
            <div class="price">
                <h3>Pink dream</h3>
                <h3>60$</h3>
            </div>
            <div>
                <button class="btn" onclick="openPopup()">ORDER</button>
            </div>
        </div>
    </section>
</main>

<div id="popupOverlay" class="overlay">
    <div class="popup">
        <h2>Great choice!</h2>
        <h3>The item was added to the cart</h3>
        <button class="close-btn" onclick="closePopup()">close</button>
    </div>
</div>

<script>
    function openPopup() {
        document.getElementById('popupOverlay').style.display = 'flex';
    }

    function closePopup() {
        document.getElementById('popupOverlay').style.display = 'none';
    }
</script>


<footer class="footer">
    Copyright © PEONY GROUP
</footer>

</body>
</html>