<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>

<body>
<header>
    <div class="top-bar">
        <div class="delivery">Home delivery available in Romania | Free returns</div>
        <div class="user">
               <span th:if="${isAuthenticated == true and fullName != null and role != 'admin'}">
                Welcome, <span th:text="${fullName}"></span>!
                <a th:href="@{/auth/logout}" class="logout-link">Logout</a> |
                <a th:href="@{/cart}" class="cart-link">Cart</a>
            </span>
            <span th:if="${isAuthenticated == true and fullName != null and role == 'admin'}">
                Welcome, <span th:text="${fullName}"></span>!
                <a th:href="@{/auth/logout}" class="logout-link">Logout</a> |
                <a th:href="@{/admin/dashboard}" class="dashboard-link">Dashboard</a>
            </span>
            <span th:if="${isAuthenticated == false or isAuthenticated == null}">
                <a th:href="@{/auth/login}">Log in</a> |
                <a th:href="@{/auth/register}">Register</a> |
                <a th:href="@{/cart}" class="cart-link">Cart</a>
            </span>
        </div>
    </div>
    <div class="logo">Peony Bloom</div>
</header>

<main>
    <nav>
        <div class="category">
            <a th:href="@{/home}">About us</a>
        </div>
        <div class="category">
            <a th:href="@{/bouquets}">Bouquets</a>
        </div>
        <div class="category">
            <a th:href="@{/main/plants}">Plants</a>
        </div>
        <div class="category">
            <a th:href="@{/main/gifts}">Gifts</a>
        </div>
        <div class="category">
            <a th:href="@{contact}">Contact</a>
        </div>
    </nav>

    <div class="dashboard-container">
        <h1>Your dashboard</h1>
    </div>

</main>
<footer class="footer">
    Copyright © PEONY GROUP
</footer>

</body>
</html>