<!DOCTYPE html>
<html>
<div th:insert="~{fragments/common_fragments :: head}"></div>

<body>

<main>
    <div th:insert="~{fragments/common_fragments :: mainHeader}"></div>
    <!-- Notification -->
    <div id="cartNotification"></div>

    <!-- Intro -->
    <section class="intro container py-5 text-md-start">
        <h1 class="title display-4 fw-bold">Gifts</h1>
        <br>
        <p class="lead fst-italic">
            From milestone celebrations to tokens of appreciation, our selection of gifts is ideal for special moments.
            Whether you're marking a birthday, anniversary, or simply sharing a thoughtful gesture,
            we have something for every occasion. Pick from our carefully curated assortment of designs
            to say thank you in person or from afar. Let your gift speak from the heart.
        </p>
        <div class="dropdown intro container pe-4 pb-2 text-md-end">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/gifts">Relevance</a></li>
                <li><a class="dropdown-item" href="/gifts?sort=price">Price low to high</a></li>
                <li><a class="dropdown-item" href="/gifts?sort=priceDesc">Price high to low</a></li>
            </ul>
        </div>
    </section>

    <!-- Product Grid -->
    <section class="container pt-0 pb-5">
        <div class="row g-4 justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3"
                 th:each="product : ${allProducts}"
                 th:if="${product.category != null and product.category.toString().equals('gift')}">

                <div class="card shadow-sm h-100 text-center border-0">
                    <a th:href="@{'/info/' + ${product.id}}" class="text-decoration-none text-dark">
                        <img th:src="@{${product.image}}" class="card-img-top rounded" alt="image">
                        <div class="card-body">
                            <h5 class="card-title fw-bold" th:text="${product.name.toUpperCase()}"></h5>
                            <p class="card-text text-muted" th:text="${product.price + ' $'}"></p>
                        </div>
                    </a>
                    <div class="card-footer border-0">
                        <button type="button"
                                class="btn btn-dark w-80 add-to-cart-btn"
                                th:data-product-id="${product.id}"
                                th:data-product-name="${product.name}"
                                th:data-product-price="${product.price}">
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="~{fragments/common_fragments :: mainFooter}"></div>

<script src="/js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
