<!DOCTYPE html>
<html>
<div th:insert="~{fragments/common_fragments :: head}"></div>

<body>
<main>
    <div th:insert="~{fragments/common_fragments :: mainHeader}"></div>
    <!-- Notification -->
    <div id="cartNotification"></div>
    <div class="container my-5 ">
        <div class="row">
            <!-- Product image -->
            <div class="col-md-5 mb-4">
                <img th:src="@{'/' + ${product.image}}" alt="image" class="img-fluid rounded"
                     style="max-height: 600px; object-fit: cover;">
            </div>

            <!-- Product info -->
            <div class="col-md-6 d-flex flex-column p-3 ">
                <h1 class="title fw-bold mb-3" style="text-decoration-line: underline"> [[${product.name}]]</h1>

                <ul class="list-unstyled">
                    <li class="mb-3 fst-italic">
                        [[${product.description}]]
                    </li>
                    <li class="mb-3 fw-bold">
                        Price: [[${product.price}]]$
                    </li>
                    <li>
                        <a class="view-all" th:href='${"/bouquets"}'>View all
                            products</a>
                    </li>
                </ul>
                <div class="addButton">
                    <button type="button"
                            class="add-to-cart-btn"
                            th:data-product-id="${product.id}"
                            th:data-product-name="${product.name}"
                            th:data-product-price="${product.price}">
                        ADD TO CART
                    </button>
                </div>
            </div>

            <div class="container mt-2">
                <div class="product-selector">
                    <h4 class="gift-title fw-bold">Add a thoughtful extra gift</h4>
                    <br>

                    <div class="row g-4">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3"
                             th:each="giftProduct : ${allProducts}">
                            <div class="card shadow-sm h-100 text-center border-0">
                                <a th:href="@{'/info/' + ${giftProduct.id}}"
                                   class="text-decoration-none text-dark">
                                    <img th:src="@{'/' + ${giftProduct.image}}" class="card-img-top rounded" alt="image"
                                         style="height: 80px; object-fit: cover;">
                                    <div class="card-body">
                                        <h6 class="card-title fw-bold" th:text="${giftProduct.name.toUpperCase()}"></h6>
                                        <p class="card-text text-muted" th:text="${giftProduct.price + ' $'}"></p>
                                    </div>
                                </a>
                                <div class="card-footer border-0">
                                    <button type="button"
                                            class="btn btn-dark w-80 add-to-cart-btn"
                                            th:data-product-id="${giftProduct.id}"
                                            th:data-product-name="${giftProduct.name}"
                                            th:data-product-price="${giftProduct.price}">
                                        ADD TO CART
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>
<div th:insert="~{fragments/common_fragments :: mainFooter}"></div>

<script src="/js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
