<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication form</title>
    <link rel="stylesheet" th:href="@{/css/style-login-registration.css}">
    <style type="text/css">
        form {
            margin-top: 20px;
            align-items: center;
            justify-content: center;
        }
        fieldset {
            padding: 30px;
        }
    </style>
</head>
<body>
<main>
    <form th:action="@{/auth/process-login}" method="post">
        <fieldset>
            <legend>Log in</legend>
            <label for="email">Email:</label>
            <input class="input-field" type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input class="input-field" type="password" name="password" id="password">

            <div class="button-container">
                <button class="btn" type="submit">LOGIN</button>
            </div>
        </fieldset>
        <div class="register">
            <h3>Don't have an account yet?</h3>
            <a th:href="@{/auth/register}">Sign up</a>
        </div>
    </form>


</main>
</body>
</html>