<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration form</title>
    <link rel="stylesheet" th:href="@{/css/style-login-registration.css}">
</head>

<body>
<main>
    <form th:action="@{/auth/process-register}" method="post">
        <h1 class="title-form">Create an Account</h1>
        <br>
        <fieldset>
            <legend>Personal info</legend>
            <div class="form-group">
                <label for="firstName">First name:</label>
                <input class="input-field" type="text" name="name" id="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last name:</label>
                <input class="input-field" type="text" name="surname" id="lastName">
            </div>

            <div class="form-group">
                <label for="country">Country:</label>
                <input class="input-field" type="text" name="country" id="country">
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input class="input-field" type="text" name="city" id="city">
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input class="input-field" type="text" name="address" id="address">
            </div>
            <div class="form-group">
                <label for="postalCode">Postal code:</label>
                <input class="input-field" type="text" name="postalCode" id="postalCode">
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input class="input-field" type="text" name="phone" id="phone">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input class="input-field" type="email" name="email" id="email">
            </div>

            <div class="form-group">
                <label for="password">Password (at least 6 characters):</label>
                <input class="input-field" type="password" name="password" id="password">
            </div>
        </fieldset>

        <div class="button-container">
            <button class="btn" type="submit">SUBMIT</button>
        </div>
    </form>
</main>
</body>
</html>
