<!DOCTYPE html>
<html>
<div th:insert="~{/fragments/common_fragments :: head}"></div>

<body class="bg-light py-4">
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Email sent successfully!</h5>
            <p class="card-text">We will contact you soon.</p>
            <div class="d-grid p-2">
                <a href="/home"  class="btn-send" >
                    CONTINUE SHOPPING
                </a>
    </div>
        </div>
    </div>
</div>
</body>
</html>