<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email response</title>
    <link rel="stylesheet" th:href="@{/css/response.css}">

</head>

<body>
<main>
    <div class="response">
        <h1>Email sent successfully.<br>We will contact you soon.</h1>
    </div>
    <div class="button-container">
        <a href="/home">
            <button class="btn" type="btn">CONTINUE SHOPPING</button>
        </a>
    </div>
</main>
</body>
</html>