<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common_fragments :: head}"></head>
<body>
<div th:insert="~{common_fragments :: mainHeader}"></div>

<!-- Intro -->
<main class="container">
    <section class="intro container py-5 text-md-start">
        <h1 class="title-astronauts display-5 fw-bold text-glow">WHO IS IN SPACE?</h1>
        <br>
        <p class="lead" style="font-size: 18px;">
            Our astronauts are highly skilled professionals, each with their own unique specialization including pilots,
            engineers, doctors and geologists.
            They possess exceptional psychological and physical preparation, having undergone rigorous training
            programs.
            With years of experience in space exploration, they are equipped to handle the most challenging missions.
            Each astronaut brings invaluable expertise to the crew, making them essential assets for mission success.
        </p>
    </section>

    <section class="container pt-0 pb-5">
        <div class="row g-4 justify-content-center">
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 mx-auto"
                 th:each="astronaut : ${astronauts}">
                <div class="card  h-80 text-center border-0" style="background-color: #cccbcb">
                    <img th:src="@{${astronaut.imageUrl}}" class="card-img-top rounded" alt="image">

                    <div class="card-body">
                        <h5 class="card-title fw-bold" style="color: #013a9f;"
                            th:text="${astronaut.firstName.toUpperCase() + astronaut.lastName.toUpperCase()}"></h5>
                        <p class="d-flex justify-content-between card-text">
                            <strong>SPECIALIZATION:</strong>
                            <span th:text="${astronaut.specialization.getDisplayName()}" class="text-muted"></span>
                        </p>
                        <p class="d-flex justify-content-between card-text">
                            <strong>OVERALL SCORE:</strong>
                            <span th:text="${astronaut.overallScore}" class="text-muted"></span>
                        </p>
                        <p class="d-flex justify-content-between card-text">
                            <strong>YEARS OF EXPERIENCE:</strong>
                            <span th:text="${astronaut.yearsOfExperience}" class="text-muted"></span>
                        </p>

                        <button class="btn-view-astronauts hero-btn px-4 py-2" id="btn-view"
                                th:attr="data-id=${astronaut.id},
                     data-firstname=${astronaut.firstName},
                     data-lastname=${astronaut.lastName},
                     data-specialization=${astronaut.specialization.getDisplayName().toUpperCase()},
                     data-image=@{${astronaut.imageUrl}},
                     data-experience=${astronaut.yearsOfExperience},
                     data-birthdate=${astronaut.dateOfBirth},
                     data-phone=${astronaut.phone},
                     data-health=${astronaut.healthStatus.getDisplayName()},
                     data-fitness=${astronaut.fitnessScore},
                     data-education=${astronaut.educationScore},
                     data-psychological=${astronaut.psychologicalScore},
                     data-overall=${astronaut.overallScore},
                     data-rate=${astronaut.dailyRate}"
                                onclick="showPopup(this)">
                            <strong>VIEW DETAILS</strong>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div th:insert="~{common_fragments :: astronaut_popup}"></div>

</main>
<br>

<script src="/js/astronaut-popup.js"></script>

<div th:insert="~{common_fragments :: mainFooter}"></div>

</body>
</html>