<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Astronauts List</title>
</head>
<body>
<h1>Astronauts</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Specialization</th>
        <th>Status</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="astronaut : ${astronauts}">
        <td th:text="${astronaut.id}"></td>
        <td th:text="${astronaut.firstName + astronaut.lastName}"></td>
        <td th:text="${astronaut.specialization}"></td>
        <td th:text="${astronaut.healthStatus}"></td>

        <td>
            <a th:href="@{/astronauts/{id}(id=${astronaut.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>