<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Destination List</title>
</head>
<body>
<h1>Destinations</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Destination name</th>
        <th>Destination type</th>
        <th>Description</th>
        <th>Gravity</th>
        <th>Distance from Earth</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="destination : ${destinations}">
        <td th:text="${destination.id}"></td>
        <td th:text="${destination.destinationName}"></td>
        <td th:text="${destination.entityType}"></td>
        <td th:text="${destination.description}"></td>
        <td th:text="${destination.distanceFromEarth}"></td>

        <td>
            <a th:href="@{/destinations/{id}(id=${destination.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>