<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mission List</title>
</head>
<body>
<h1>Missions</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Mission name</th>
        <th>Mission code</th>
        <th>Mission description</th>
        <th>Duration days</th>
        <th>Required crew size</th>
        <th>Potential Issues</th>
        <th>Difficulty Level</th>
        <th>Destination Name</th>
        <th>Required specializations</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="mission : ${missions}">
        <td th:text="${mission.id}"></td>
        <td th:text="${mission.name}"></td>
        <td th:text="${mission.code}"></td>
        <td th:text="${mission.description}"></td>
        <td th:text="${mission.durationDays}"></td>
        <td th:text="${mission.crewSize}"></td>
        <td th:text="${mission.potentialIssues}"></td>
        <td th:text="${mission.difficultyLevel.getDisplayName()}"></td>
        <td th:text="${mission.destinationName}"></td>
        <td>
    <span th:each="spec, iterStat : ${mission.specializations}">
        <span th:text="${spec.specialization.displayName} + ' - ' + ${spec.quantity}"></span>
        <span th:if="${!iterStat.last}">, </span>
    </span>
    </tr>
    </tbody>
</table>

</body>
</html>