<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="missions-container" th:fragment="missionCards">
    <div class="row g-4 justify-content-center mb-10">

        <div class="col-10 col-sm-6 col-md-4 col-lg-4  align-items-stretch"
             th:each="mission : ${missions}">
            <div class="card space-card w-100 h-100">
                <div class="card-title-level">
                    <h5 class="card-title fw-bold text-warning" th:text="${mission.name.toUpperCase()}"></h5>

                    <p class="card-level" th:data-level="${mission.difficultyLevel.name()}">
                        <span th:text="${mission.difficultyLevel.getDisplayName()}"></span>
                    </p>
                </div>

                <div class="card-header">
                    <img th:src="@{${mission.imgUrl}}" class="card-image" alt="image">
                    <div class="card-main-info">
                        <p class="mission-card-text"><strong>Code:</strong> <span
                                th:text="${mission.code}"></span></p>
                        <p class="mission-card-text"><strong>Destination:</strong> <span
                                th:text="${mission.destinationName}"></span></p>
                        <p class="mission-card-text"><strong>Crew size:</strong> <span
                                th:text="${mission.crewSize}"></span></p>
                        <p class="mission-card-text"><strong>Mission Revenue:</strong> <span
                                th:text="${mission.paymentAmount}"></span>$</p>
                    </div>
                </div>

                <div class="mission-card-body">
                    <h4 class="card-title fw-bold">Mission Brief</h4>
                    <p class="mission-card-text"><span th:text="${mission.shortDescription}"></span></p>
                </div>
                <div class="card-footer">
                    <button class="btn-view-mission" id="btn-view-mission"
                            th:attr="data-id=${mission.id},
                                                 data-image=@{${mission.imgUrl}},
                                                 data-name=${mission.name.toUpperCase()},
                                                 data-code=${mission.code},
                                                 data-description=${mission.description},
                                                 data-destination=${mission.destinationName},
                                                 data-difficulty=${mission.difficultyLevel.getDisplayName()},
                                                 data-issues=${mission.potentialIssues},
                                                 data-score=${mission.scoreValue},
                                                 data-crew=${mission.crewSize},
                                                 data-duration=${mission.durationDays},
                                                 data-payment=${mission.paymentAmount},
                                                 data-specializations=${#strings.arrayJoin(
                      mission.specializations.![specialization.displayName + ' - ' + quantity],
                      ', '
                 )}" onclick="showPopup(this)">
                        <strong>VIEW MISSION DETAILS</strong></button>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>