<!-- Popup -->
<div th:fragment="mission-popup">
    <div id="mission-popup" class="mission-popup" style="display:none;">
        <div class="mission-popup-content">
            <span id="mission-popup-close">&times;</span>
            <div class="change-popup">
                <h4 id="popup-name" class="popup-name"></h4>
                <div class="popup-navigation">
                    <button id="prevMissionBtn" class="btn-change">⬅ Prev</button>
                    <button id="nextMissionBtn" class="btn-change">Next ➡</button>
                </div>
            </div>
            <div class="popup-code">
            <p style="padding: 0;"><strong>Code:</strong> <span id="popup-code"></span></p>
            </div>
            <div class="mission-top d-flex">
                <div class="mission-image">
                    <img id="mission-img" class="mission-img rounded" alt="mission">
                </div>

                <div class="col-md-6 score-info ">
                    <p><strong>Destination:</strong> <span id="popup-destination"></span></p>
                    <p><strong>Difficulty lever:</strong> <span id="popup-difficulty"></span></p>
                    <p><strong>Mission Revenue:</strong> <span id="popup-payment"></span></p>
                    <p><strong>Crew size:</strong> <span id="popup-crew"></span></p>
                    <p><strong>Score value:</strong> <span id="popup-score"></span></p>
                    <p><strong>Mission Duration:</strong> <span id="popup-duration"></span></p>
                </div>
            </div>
            <div class="mission-info row mt-3 pt-0">
                <div class="mission-main-info">
                    <p id="popup-description"></p>
                    <p><strong>Potential Issues:</strong> <span id="popup-issues"></span></p>
                    <p><strong>Required Specializations:</strong> <span id="popup-specializations"></span></p>
                </div>
            </div>

            <div class="text-center mt-2" style="gap: 20px">
                <button id="startMissionBtn" class="btn btn-outline-info btn-sm">
                    START EXPLORATION
                </button>
            </div>
        </div>
    </div>
</div>



<script th:fragment="mission-popup-script">
    document.addEventListener("DOMContentLoaded", () => {

        let missionButtons = [];
        let currentMissionIndex = -1;
        let currentMissionId = null;

        function showPopup(button) {
            missionButtons = Array.from(document.querySelectorAll(".btn-view-mission"));
            currentMissionIndex = missionButtons.indexOf(button);

            const popup = document.getElementById("mission-popup");

            if (!popup) {
                console.error("mission-popup not found");
                return;
            }
            currentMissionId = button.getAttribute("data-id");
            document.getElementById("mission-img").src = button.getAttribute("data-image") || "";
            document.getElementById("popup-name").textContent = button.getAttribute("data-name") || "_";
            document.getElementById("popup-code").textContent = button.getAttribute("data-code") || "_";
            document.getElementById("popup-description").textContent = button.getAttribute("data-description") || "_";
            document.getElementById("popup-destination").textContent = button.getAttribute("data-destination") || "_";
            document.getElementById("popup-difficulty").textContent = button.getAttribute("data-difficulty") || "_";
            document.getElementById("popup-score").textContent = button.getAttribute("data-score") || "_";
            document.getElementById("popup-crew").textContent = button.getAttribute("data-crew") || "_";
            document.getElementById("popup-issues").textContent = button.getAttribute("data-issues") || "_";
            document.getElementById("popup-duration").textContent = button.getAttribute("data-duration") || "_";
            document.getElementById("popup-payment").textContent = button.getAttribute("data-payment") || "_";
            document.getElementById("popup-specializations").textContent = button.getAttribute("data-specializations") || "_";

            popup.style.display = "flex";

            document.getElementById("prevMissionBtn").onclick = () => {
                if (currentMissionIndex > 0) showPopup(missionButtons[currentMissionIndex - 1]);
            };
            document.getElementById("nextMissionBtn").onclick = () => {
                if (currentMissionIndex < missionButtons.length - 1) showPopup(missionButtons[currentMissionIndex + 1]);
            };

            // Close mission
            document.getElementById("mission-popup-close").onclick = () => {
                popup.style.display = "none";
            };

            popup.onclick = (e) => {
                if (e.target.id === "mission-popup") popup.style.display = "none";
            };

            document.onkeydown = (e) => {
                if (e.key === "Escape") {
                    popup.style.display = "none";
                }
            };
        }

        window.showPopup = showPopup;
        document.getElementById("startMissionBtn").addEventListener("click", () => {
            const url = `mission-participants?missionId=${currentMissionId}`;
            window.location.href = url;
        });
    });
</script>
