@font-face {
    font-family: 'Agraham';
    src: url('/innerFolder/fonts/agraham.personal-use.otf') format('opentype');
}

body {
    margin: 0;
    font-family: sans-serif;
}

.delivery {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-bar {
    display: flex;
    background: black;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 8px 20px;
    font-size: 14px;
    position: relative;
}

.logo {
    color: black;
    font-size: 50px;
    font-family: 'Agraham';
    text-align: center;
    padding: 1px;
}

.user {
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background-color: darkslategray;
}

.category {
    text-align: center;
    width: 85px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.intro-text {
    font-size: 16px;
    font-style: italic;
    line-height: 2em;
}

.titlePage {
    font-size: 30px;
}

.btn {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease,
    transform 0.3s ease;
}

.btn:hover {
    background-color: #a020f0;
    transform: scale(1.1);
}

.footer {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 14px;
}